@model Poc_task.Models.Employee
@{
                /**/

                ViewBag.Title = "InsertRecord";
}

<h2>InsertRecord</h2>

@using (Html.BeginForm("PostUsingBinding", "Default", FormMethod.Post))
{ <form> 
    <div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.EmpCode)
        @Html.EditorFor(m => m.EmpCode)
        @Html.ValidationMessageFor(model => model.EmpCode)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)

    </div><div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(model => model.LastName)

    </div><div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.EditorFor(m => m.Age)
        @Html.ValidationMessageFor(model => model.Age)

    </div> 
    <div class="form-group">
        @Html.LabelFor(m => m.Sex)
        @Html.EditorFor(m => m.Sex)
        @Html.ValidationMessageFor(model => model.Sex)

    </div> 
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(model => model.Email)

    </div>
        </div>
    </form>
}


